@media (max-width: 1024px){
    
}


@media ( max-width: 768px){
    .titulo h1{
        font-size: 25px;
    }

    .imagens{
        flex-wrap: wrap;
        justify-content: center;
    
    }


}

@media (max-width: 525px ){
    .topo{
        height: 140px;
    }
    .topo div{
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .links-topo{
        width: 90%;
        font-size: 12px;
        border-top: 1px  solid #00000027;
    }

    .links-topo a{
        margin: 0 auto;
    }

    .titulo h1{
        font-size: 20px;
        left: 25%;
        top: 100px;
    }

    .banner{
        width: 100%;
        height: 300px;
    }

    .sobre-clinica2 div img{
        display: none;
    }

    .imagens {
        flex-direction: column;
        align-items: center;
        
    }

    .imagens div{
        width: 300px;
    }
}

